.weather-board {
	max-width: 80%;
	margin: auto;
	padding: 5em;
}

.weather-calendar {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}

.weather-single-day img.weather-icon {
	max-width: 45px;
}

.weather-single-day {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f2f2f2;
	border-radius: 6px;
}
.splash {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	font-size: 2em;
}
.loading {
	animation: blinkingText 1.5s infinite;
}
@keyframes blinkingText {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}
